SUPABASE_URL=https://pqttwidjizteinxdodzh.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBxdHR3aWRqaXp0ZWlueGRvZHpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzAwMjI3NywiZXhwIjoyMTAyNTc4Mjc3fQ.I5SO5TdBvmx5NthSHXHiEe888AC0eCYPpaIRyNdAuis
